.users {
  padding: $spacer-1 $spacer-3;
  display: flex;
  gap: $spacer-1;
  overflow-y: auto;
  justify-content: center;
  position: relative;

  &__content {
    width: calc(50% - ($spacer-1 * 3));
  }

  &__aside {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: $spacer-3;
    left: $spacer-3;
    width: calc(25% - $spacer-1);
  }
}

@media screen and (max-width: 768px) {
  .users {
    padding: $spacer-1;
    flex-direction: column;
    justify-content: unset;

    &__content {
      width: 100%;
      height: 100%;
    }

    &__aside {
      position: unset;
      display: flex;
      flex-direction: column;
      gap: unset;
      left: unset;
      width: 100%;
    }
  }
}
